/* Import Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* ///////////////////// utlity bar ////////////////////////*/
.utility-bar{
    /* background: linear-gradient(#d386cd, #e0aadc); */
    background-color: #0d1740;
    height: 50px;
    width: 100%;
}

.inner-utility-bar{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.utility-contacts,
.utility-social-media{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.fa-phone, 
.fa-envelope{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.fa-envelope{
    padding-left: 20px;
}

.utility-contacts{
    float: left;
}

.utility-social-media{
   float: left;
   display: flex;
   justify-content: end;
}

.svg-social-media{
    margin: 0 5px;
}

/* //////////////////////////// Header ///////////////////////////*/
header{
    width: 100%;
    display: flex;
    height: 120px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.inner-header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 120px;
}

.logo{
    width: 10%;
    height: 100%;
}

.imagelogo{
    max-width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    font-weight: 500;
}

.nav-item{
    padding: 0 10px;
}

.nav-link{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 1.4px;
    color: #7e507b;
    font-size: 1em;
}

.navbar-content {
    width: 100%;
    padding: 0 15px;
}

.search-btn{
    background-color: transparent;
    border: none;
    color: #7e507b;
}

.search-btn:hover{
    background-position: left;
    border: none;
}

.search-box{
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 300px;
    padding: 5px;
}

.search-box:focus,
.search-box:active {
    outline: none !important;
}

/* ///////////////////// Section Homepage //////////////////////*/
section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homepage-content{
    margin: 0 auto;
    height: 600px;
    width: 100%;
    display: flex;
    padding: 0 20px 20px 20px;
    background-color: #f0f1f3;
    padding-top: 3%;
}

.text-box{
    width: 65%;
    height: 100%;
    padding: 50px;
}

.text-box h1{
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    color: #694366;
}

.text-box p{
    font-size: 1.5em;
    padding-top: 30px;
    color: #935d8f;
    font-weight: 200;
}

.learnmore{
    padding: 12px 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    /* background-color: #191970; */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #007BFF 50%, #1E90FF 50% ) right;
    background-size: 200%;
    transition: all 0.5s ease-in-out;
}

.learnmore:hover,
.about-btn:hover{
    background-position: left;
}

.image-box{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.doctors{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-homepage{
    width: 90%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    min-height: 400px;
    margin: 10px 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.card-title{
    font-size: 1.6em;
}

.card-title,
.card-text,
.card-icon{
    text-align: center;
}

.card-text{
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 5px;
}

.card-icon{
    font-size: 80px;
}

.icon1{
    color: rgb(56, 56, 132);
}

.icon2{
    color: rgb(66, 131, 66);
}

.icon3{
    color: rgb(197, 80, 80);
}

/* //////////////////////// about section in homepage /////////////////////*/
.home-about{
    margin: 10% auto 5% auto;
    width: 88%;
    height: 500px;
    display: flex;
}

.image-container,
.description-container{
    width: 50%;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
}

.description-container p:first-child{
    font-size: 1.5em;
    font-weight: 500;
    color: #1e3590;
}

.description-container h1{
    font-weight: bold;
    font-size: 3em;
}

.description-container p:nth-child(3){
    font-weight: normal;
    font-size: 1.2em;
    font-weight: 200;
}

.about-btn{
    padding: 12px 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    /* background-color: #191970; */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #007BFF 50%, #1E90FF 50% ) right;
    background-size: 200%;
    transition: all 0.5s ease-in-out;
}


/* ////////////////////// Video Container ///////////////////////// */

.video-container {
    margin-top: 5%;
    background-image: url('/public/images/homepagebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff0000;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.fa-play{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-left: 8px;
}

.video-container p{
    font-weight: 500;
    color: #fff;
    font-size: 2em;
}

.video-container a{
    text-decoration: none;
}

.circle:hover{
    background-color: rgb(228, 14, 14);
}


/* /////////////////////// home blog section //////////////// */

.home-blog{
    margin: 10% auto;
    padding: 0;
    width: 88%;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
}

.image-container img{
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
}

/* /////////////// testimonials ////////////////*/
.testimonials-container{
    display: flex;
    flex-direction: column;
}

.testimonials{
    margin-top: 0%;
}

.testimonial-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonial-card-container .card{
    margin-top: 1%;
}

.testimonial-text-container p{
    font-size: 1.5em;
    font-weight: 500;
    color: #1e3590;
}

.testimonial-card-body{
    display: flex;
    flex-direction: column;
}

.testimonial-text{
    text-align: left;
}

.client-detail{
    width: 100%;
    display: flex;
    height: 120px;
}

.client-dp{
    width: 30%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
}

.client-name{
    width: 70%;
    height: 100%;
    padding: 20px;
}

.client-name p{
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 0;
}

.fa-star{
    color: orange;
    font-size: 0.8em;
}

/* /////////////////////// Footer //////////////////////*/
footer{
    width: 100%;
    background: linear-gradient(#fcfcfc,#cecece);
    margin-top: 6%;
}

.quicklinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

.company-short{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 40px;
    margin-right: 1%;
}

.company-short img{
    width: 140px;
    height: 140px;
}

.company-short p{
    font-weight: 200;
    font-size: 1.2em;
    color: #444444;
}

.inner-footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    border-top: 1px solid darkcyan;
    color: #444444;
    font-weight: 400;
}

.lists{
    width: 20%;
    margin: 1% 0.5%;
}

.lists p{
    font-weight: bold;
    font-size: 1.7em;
    color: #424242;
}

.lists ul{
    list-style: none;
    padding-left: 0;
}

.lists ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #666666;
    font-weight: 200;
}